<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Sign Up</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="First name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Last name" formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-error>
          Please provide an username
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide password
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Confirm password" formControlName="password2" required>
        <mat-error>
          Please repeat passwod
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">Sign up</button>
    </form>
  </mat-card-content>
</mat-card>
