<div class="header">
  <h1 mat-dialog-title>Update animal</h1>
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Age" formControlName="age">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Weight" formControlName="weight">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Height" formControlName="height">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Type" formControlName="type">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Image URL" formControlName="image">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="confirm()">Update</button>
</div>
