<mat-toolbar color="primary" class="navbar">
  <span>Tadeusz Kościuszko Shelter</span>
  <button mat-raised-button routerLink="/dashboard">Dashboard</button>
  <button mat-raised-button routerLink="/admin" color="warn" *ngIf="(userRole$ | async) === 1">Admin panel</button>
  <button mat-raised-button routerLink="/worker" color="primary" *ngIf="(userRole$ | async) === 2">Worker panel</button>
  <span class="space"></span>
  <button *ngIf="!(isLoggedIn$ | async)" mat-raised-button routerLink="/login">Log in</button>
  <button *ngIf="!(isLoggedIn$ | async)" mat-raised-button routerLink="/signup">Sign up</button>
  <button *ngIf="isLoggedIn$ | async" mat-raised-button (click)="logout()">Logout</button>
</mat-toolbar>
